{% extends 'base.html' %}
{% block content %}
<h1>Index</h1>

<div class="row">
<div class="col-md-2">
  <div class="box">
    <div class="box-top">
      <div class="container">
        <p class="contact-us">Contact us!</p>
      </div>  
    </div>
    <div class="container box-main">
      We're not around but we'd love to chat another time. Leave us a message here, and we'll respond by the next business day.
      <div class="input-wrapper">
        <input class="input-box" type="text" name="" value="click here and type your Name">
      </div>
      <div class="input-wrapper">
        <input class="input-box" type="text" name="" value="click here and type your Name">
      </div>
      <div class="input-wrapper">
        <input class="input-box" type="text" name="" value="click here and type your Name">
      </div>
      <div class="input-wrapper">
        <input class="input-box-big" type="text" name="" value="We're not around but we still want to hear from you! Leave us a note:">
      </div>
      <button class="btn btn-warning chat-submit" type="submit" name="button">Send</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
